        input {
            font: bold 20px Arial;
            text-decoration: none;
            background-color: #EEEEDD;
            color: #333333;
            padding: 2px 6px 2px 6px;
            margin-right: 10px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
        
        button {
            font: bold 18px Arial;
            width: 50px;
            height: 50px;
            margin: 10px;
            border-color: cornflowerblue;
            border-style: outset;
            border-width: thin;
        }
        
        .buttonContainer {
            width: 640px;
        }